header
    position: sticky
    z-index: 1
    top: 0
    background-color: #212529
    padding: 25px 0
    .menu
        .imgbox
            margin-left: 30px
            width: 135px
        nav
            display: flex
            .box
                a
                    line-height: 1.5
                    margin: 13px
                    font-family: sans-serif
                    letter-spacing: 2px
                    font-size: 15px
                    cursor: pointer
                &:hover
                    a
                        color: #e4b703
