header
    position: sticky
    z-index: 1
    top: 0
    background-color: #212529
    padding: 20px 0
    .menu
        .imgbox

            width: 138px
        nav
            display: flex
            .box
                a
                    line-height: 1.5
                    margin: 13px
                    letter-spacing: 2px
                    font-size: 15px
                    cursor: pointer
                &:hover
                    a
                        color: #e4b703
    @media ( max-width: 992px)
        nav
            font-weight: 700
            font-size: 14px
            border: 1px solid #494c4c
            padding: 11px 13px
            border-radius: 6px
            .box
                display: none
            h2,i
                color: #898a8d
            i
                margin-left: 7px
