#PORTFOLIO
    background-color: #f8f9fa
    .textbox
        text-align: center
    h1
        font-size: 40px
        font-weight: 700
        font-family: sans-serif
    h3,h4
        font-family: math
        font-style: italic
        color: #6e7a86
        font-size: 18px
    .box
        background-color: #ffff
        position: relative
        margin: 10px 0
        .imgbox
            position: relative
           img
            .basic 
                position: absolute
                top:20px
                left: 0
        .icon
            position: absolute
            top: 30px
            width: 100%
            color: #ffff
            font-size: 60px
            opacity: 0
            text-align: center
        h2
            font-size: 25px
            font-weight: 700
            font-family: sans-serif
