#SERVICES
    padding: 70px 0
    .textbox
        h1
            font-weight: 700
            font-size: 36px
            font-family: sans-serif
        h3
            font-size: 17px
            font-family: math
            font-style: italic
            color: #6e7a86
        .box
            .icon
                color: #ffc800
